@model string
@{
        ViewBag.Title = "Latest Image";
        //Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2> Duration: @ViewBag.Duration milliseconds </h2>
<br />
<h3> Latest Uploaded Blob Name: @ViewBag.LatestImage </h3>
<br/> 